<h1><i class="bi bi-calendar-event"></i>|{{'Event'|translate}}</h1>
<div class="hero">
    <div class="container">
        <!--  {{events|json}}-->
        <div class="row">
            <div *ngFor="let o of oszlopok" class="col">
                {{o}}
            </div>
        </div>

        <div *ngFor="let event of events" class="row">
            <div *ngFor="let o of oszlopok" class="col">
                {{event[o]}}
            </div>
            <div *ngIf="user && user.id==event.userId" class="col">
                <button (click)="deleteEvent(event)" type="button"
                class="btn btn-outline-danger">{{'Deletebutton'|translate}}</button>
                <button (click)="updateEvent(event)" type="button"
                    class="btn btn-outline-primary">{{'Updatebutton'|translate}}</button>
            </div>
        </div>


    </div>
</div>