<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{'title'| translate }}</h1>
            <p>{{'description'|translate}}</p>
        </div>
        <div  class="col-lg-4">
            <a  routerLink="">{{'home2'|translate}}</a>
            <a routerLink="jegy">{{'ticket'|translate}}</a>
            <a routerLink="kapcsolat">{{'contact'|translate}}</a>
            <a routerLink="kornyezetvedelem">{{'environment2'|translate}}</a>
            <a routerLink="login">{{'login'|translate}}</a>
        </div>
        <div class="col-lg-2">
            <a href="http://gmail.com"><img src="../../../assets/img/footer/gmail.jpg" alt="img1"></a>
            <a href="https://github.com/halando/Projectmunka" ><img src="../../../assets/img/footer/github.jpg" alt="img2"></a>
            <a href="https://kulkertechnikum.hu" ><img src="../../../assets/img/footer/iskola.jpg" alt="img3"></a>
            <a href="https://facebook.com" ><img src="../../../assets/img/footer/facebook.jpg" alt="img4"></a>
            
        </div>
    </div>
</div>