<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{'title'| translate }}</h1>
            <p>{{'description'|translate}}</p>
        </div>
        <div  class="col-lg-4">
            <a  routerLink="">{{'home2'|translate}}</a>
            <a routerLink="jegy">{{'services'|translate}}</a>
            <a routerLink="kapcsolat">{{'contact'|translate}}</a>
            <a routerLink="kornyezetvedelem">{{'environment2'|translate}}</a>
        </div>
        <div class="col-lg-6">
            <a href="http://gmail.com"><img src="../../../assets/img/footer/gmail.jpg" id="gmail" alt="img1"></a>
            <a href="https://github.com/halando/Projectmunka"><img src="../../../assets/img/footer/github.jpg"
                    id="github" alt="img2"></a>
            <a href="https://kulkertechnikum.hu"><img src="../../../assets/img/footer/iskola.jpg" id="suli"
                    alt="img3"></a>
            <a href="https://facebook.com"><img src="../../../assets/img/footer/facebook.jpg" id="facebook"
                    alt="img4"></a>

        </div>
    </div>
</div>