* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/img/contact.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 0;
    color: #fff;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
h5{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.eyeicon{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.form-floating{
    font-weight: bold;
}
.fw-bold{
    font-weight: bold;
}
a{
    background-color: gray;
    color: whitesmoke;
    border: 5px solid black;
    overflow: hidden;
    border-radius: 20px;
    font-weight: bold;
}
